@import "../../../../utils/variables.scss";

.popup__categories-name {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;

  .category-warning {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }
}
