.menu-element {
   margin-left: 10px;
   margin-right: 10px;
   padding-top: 30px;
   padding-bottom: 30px;
   display: flex;
   justify-content: space-between;
   font-size: 30px;
   line-height: 40px;
   font-weight: 900;
   align-items: end;

   p {
      margin: 0;
   }

   button {
      cursor: pointer;
      padding: 0;
      width: fit-content;
      height: fit-content;
      background: none;
      border: none;

      img {
         width: 30px;
         height: 30px;
      }
   }
}