$light-gray: rgb(236, 236, 236);
$gray: gray;

main {
   padding-top: 20px;
   padding-bottom: 20px;
}


.panel  {
   margin-left: 10px;
   margin-right: 10px;
   display: flex;
   justify-content: space-between;
}
